@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.blogs h1 {
  @apply text-4xl font-bold my-6;
}

.blogs h2 {
  @apply text-3xl font-semibold my-5;
}

.blogs h3 {
  @apply text-2xl font-semibold my-4;
}

.blogs p {
  @apply text-base leading-7 my-3;
}

.blogs li {
  @apply text-base leading-7 my-3;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
